.drop-zone {
  border: 2px dashed var(--pico-muted-border-color);
  background-color: var(--pico-card-background-color);
  padding: 1.5rem 1rem;
  text-align: center;
  border-radius: var(--pico-border-radius);
  cursor: pointer;
  transition: border-color 0.2s ease, background-color 0.2s ease;
}

.drop-zone:hover, 
.drop-zone.dragover {
  border-color: var(--pico-primary-border);
  background-color: var(--pico-form-element-selected-background-color);
}

.drop-zone input[type="file"] {
  display: none; 
}

#error-alert {
  display: none;
}

#error-alert-header {
  display: flex; justify-content: space-between; align-items: center; margin-bottom: 0;background-color: crimson;color:white;
}

#error-alert-header-button {
  background: none; border: none; color: white; cursor: pointer; font-size: 1.2rem; padding: 0; width: auto;
}

#error-alert-header-p {
  margin-bottom: 0; margin-top: var(--pico-spacing);
}

#chart {
  width: 100%;
  height: 200px;
}

@media print {
  @page {
    margin: 10mm;
  }

  html,
  body {
    margin: 0 !important;
    padding: 0 !important;
  }

  main.container {
    width: 100% !important;
    max-width: none !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  #chart {
    width: 100% !important;
    height: 220px !important;
  }

  #drop-zone-format-select {
    display: none;
  }

  #drop-zone {
    display: none;
  }
}